@layer components {
  @keyframes den-code-shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25%,
    75% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
  }
}
