.tiptap p.is-editor-empty:first-child::before {
  float: left;
  height: 0;
  color: hsl(var(--muted-foreground) / 0.7);
  pointer-events: none;
  content: attr(data-placeholder);
}

.ProseMirror:focus {
  outline: none;
}
