html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff9500, #e65500);
  border: 1px solid rgba(170, 60, 0, 0.95);
  border-radius: 5px;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.25),
    inset 0 1px 1.5px rgba(255, 255, 255, 0.5),
    0 1px 1px rgba(255, 255, 255, 0.4),
    0 2px 4px rgba(0, 0, 0, 0.12);
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff9f0a, #ea5b00);
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to bottom, #e65500, #c94400);
}

* {
  scrollbar-color: rgba(249, 115, 22, 0.9) transparent;
  scrollbar-width: thin;
}

body {
  overflow-y: overlay;
}

@media (hover: none) and (pointer: coarse) {
  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  * {
    scrollbar-width: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body:not(:hover)::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body:hover::-webkit-scrollbar-thumb {
  animation: fadeIn 0.3s ease;
}
